body{
    background-color:  #c1f8ff;
}
h2{
    color:	Salmon;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;

}


form{
    display: flex;
   flex-direction: column;
   max-width: 400px;
   margin: auto;
   padding: 30px;
   background-color: #FCC6BB;
   border-radius: 10px;
   border: 1px solid  #FCC6BB;
   box-shadow: 5px 5px 10px 1px rgba(255, 130, 85, 0.678);
}

label{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  color: whitesmoke;
  margin-bottom: 5px;
  margin-top: 5px;
}
input,#state{
    border: 1px solid  #FCC6BB ;
    padding: 10px;
    border-radius: 10px;

}
.radio{
    display: inline;
}
.checkbox{
    margin-top: 10px;
}
span{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  color: whitesmoke;
  margin-bottom: 5px;
  margin-top: 5px;

}

button{
    background-color: #B8F5FF;
    color: orange;
    font-weight: 500;
    border: none ;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:50px ;
    padding-right:50px ;
    margin-left: 40px;

}

.button{
    margin-top: 20px;
}
